<link href="{{ url_for('static', filename='css/style-header.css') }}" rel="stylesheet"/>
<div style="height:100px;">
    <nav class="header">
        <table class="dhdfh">
        <tr>
            <td>
              <!-- Brand -->
              <a class="navbar-brand1" href="{{url_for('home')}}">Air-Flight</a>

              <!-- Toggler/collapsibe Button -->
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
              </button>
            </td>
            <td>
        <!--   Navbar links-->
              <div class="wrap-header" id="collapsibleNavbar">
        <!--&lt;!&ndash;            <a class="nav-link {% if 'category_id' not in request.args %} active {% endif %}" href="/">Trang Chu</a>&ndash;&gt;-->
        <!--&lt;!&ndash;        {% for c in categories %}&ndash;&gt;-->
        <!--&lt;!&ndash;            <a class="nav-link" href="{{ url_for('home', category_id=c.id) }}">{{ c.name }}</a>&ndash;&gt;-->
        <!--&lt;!&ndash;        {% endfor %}&ndash;&gt;-->
                {% if current_user.is_authenticated %}
                  <div class="wrap-user">
                    <a class="nav-link text-danger" href="{{ url_for('home') }}">
    <!--                    {% if current_user.avatar %}-->
    <!--                        <img src="{{ current_user.avatar }}" width="30px" alt="{{ current_user.username }}">-->
    <!--                    {% else %}-->
    <!--                        <img src="url_for('https://res.cloudinary.com/du3xpvajy/image/upload/v1639925314/cnpm/download_x3ygfo.png')" width="30px" alt="{{ current_user.username }}">-->
    <!--                    {% endif %}-->
                        {{ current_user.username }}
                    </a>
                  </div>
                  <div class="wrap-user">
                    <a class="nav-link text-success" href="{{ url_for('user_logout', name = 'user_login') }}">Dang Xuat</a>
                  </div>
                {% else %}
                  <div class="wrap-user">
                        <a class="nav-link text-danger" href="{{ url_for('user_register') }}">Dang Ky</a>
                  </div>
                  <div class="wrap-user">
                        <a class="nav-link text-success" href="{{ url_for('user_login') }}">Dang Nhap</a>
                  </div>
                {% endif %}
            </div>
            </td>
        </tr>
    </table>
    </nav>
</div>
