nav.header{
    background-image: url('https://res.cloudinary.com/du3xpvajy/image/upload/v1641371597/cnpm/background_efihqi.jpg');
    color:white;
    height:70px;
    width:100%;
    font-size:15px;
    position: fixed;
}
.navbar-brand1{
    font-size:30px;
    color:white;
    font-family:bookman;
    padding:10px;
}
div.wrap-header{
    width:100%;
    margin-right:10px;
    text-align:right;
    color:white;
}
div.wrap-user{
    float:right;
    color:white;
}
.dhdfh{
    width:100%;
    margin-top:10px;
}