body{
    background-color: lightblue;;
}
.form_login{
    text-align:center;
    background-color:aquamarine;
    width:50%;
    margin:auto;
    border-radius:20px;
    box-shadow: rgba(240, 46, 46, 0.4) 5px 5px, rgba(253, 0, 0, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;}
input{
    width:20%;
    text-align:center;
}
.form-control{
    width:80%;
    margin:auto;
    font-size:110%;
    border:none;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;}
h1.text_login{
    text-align: center;
    color:rgb(255, 0, 0);
    font-family:Brush Script MT;
    font-size:500%;   
}
input.btn-danger{
    margin:auto;
}
td{
    padding:10px;
}
div.alert{
    background-color: rgb(248, 81, 81);
    border-radius:10px;
    border:none;
    color:white;
    font-weight: 600;
    width:50%;
    margin:auto;
    margin-bottom:10px;
}