label{
    text-align: center;
    width:100%;
    font-weight: 800;
    
}
.form_register{
    background-color: #66d479;
    border-radius:20px;
    width:80%;
    margin:auto;
    text-align:center;
    box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
}