{% extends 'layout/base.html' %}

{% block title %}Đặt Vé{% endblock %}

{% block content %}
{% if flight %}
    {% for f in flight %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
<script src="url_for('ttps://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js')"></script>
<script src="url_for('https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js')"></script>
<script src="url_for('https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js')"></script>
<link rel='stylesheet' href="{{ url_for('static', filename='css/flight_selection.css')}}" type='text/css' media='all' />
<!--<link rel="stylesheet" href="flight_selection.css">-->
        <h1>{{ f.flight_id }}</h1>
        <h1>{{ f.departure_day }}</h1>
        <h1>{{ f.arrival_day }}</h1>
        <h1>{{ f.departure_airport }}</h1>
        <h1>{{ f.arrival_airport }}</h1>
        <h1>{{ f.airplane_id }}</h1>
        <h1>{{ f.flight_time }}</h1>
        <h1>{{ f.airplane_type }}</h1>
        <h1>{{ f.airline_id }}</h1>
<div class="right">
<div  data-toggle="collapse" href="#collapseOne" class="button-class">Hang pho thong</div>
<div data-toggle="collapse" href="#collapseTwo" class="button-class">Hang thuong gia</div>
</div>
<div class="class-select">
  <div class="wrap-summary">
    <table style="width:100%;">
      <tr>
        <td >
          <time id="time-start" class="timeline">6:00</time>
        </td>
        <td>to</td>
        <td >
          <time id="time-start" class="timeline">9:00</time>
        </td>
        <td rowspan="3">
          <div id="flight-id" style="display:block;">VN1551</div>
          <div id="flight-type" style="font-weight: 800; display:block;">Airbus A321</div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="airport" ID="airport-star">HAN</div>
        </td>
        <td></td>
        <td>
          <div class="airport" ID="airport-star">CXR</div>
        </td>
      </tr>
      <tr >
        <td colspan="1">
          <span id="time-flight">2 tiếng</span>
        </td>
        <td style="font-weight: 600;;">
          <div id="fly">Bay thẳng</div>
        </td>
        <td>
          <button data-toggle="collapse" data-target="#demo" class="button-none">Xem chi tiết></button>
        </td>
      </tr>
    </table>
  </div>
  <div style="float:left;">
    <button class="button-select">
        <div id="fare">750 000 VND</div>
    </button>
    <button class="button-select1">
      <div id="fare">850 000 VND</div>
  </button>
  </div>
</div>
<div>
  <div id="demo" class="collapse">
    <div class="detail">
      <table>
        <tr>
          <td rowspan="5">
            <div style="height:100%; border:1px solid-black; width:2px;" > </div>
          </td>
        </tr>
        <tr>
          <td style="font-weight: 800; font-size:16px; text-align:left;">
            <time id="start-flight">28 th 01, 6:00 </time>
          </td>
          <td style="font-weight: 800; font-size:16px; text-align:left;">
            <span id="start-from">Hà Nội</span>
          </td>
        </tr>
        <tr>
          <td style="text-align:left;">Máy bay:</td>
          <td>
            <div id="flight-type" style="font-weight: 600; display:block; text-align:left;">Airbus A321</div>
          </td>
        </tr>
        <tr>
          <td style="text-align:left;">Thời gian di chuyển:</td>
          <td>
            <div id="flight-time" style="font-weight: 600; display:block; text-align:left;">2 tiếng</div>
          </td>
        </tr>
        <tr>
          <td style="font-weight: 800; font-size:16px; text-align:left;">
            <time id="start-flight">28 th 01, 8:00 </time>
          </td>
          <td style="font-weight: 800; font-size:16px; text-align:left;">
            <span id="start-from">Nha Trang</span>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
    {% endfor %}
{% else%}
    <h1 class="text-danger text-center">Chuyến bay không tồn tại</h1>
{% endif %}
{% endblock %}