{% extends 'layout/base-ticket-sales.html' %}

{% block title %}Bán Vé{% endblock %}
{% block content %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
<script src="url_for('ttps://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js')"></script>
<script src="url_for('https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js')"></script>
<script src="url_for('https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js')"></script>
<link rel='stylesheet' href="{{ url_for('static', filename='css/flight_selection.css')}}" type='text/css' media='all' />
<!--<link rel="stylesheet" href="flight_selection.css">-->
<div class="row">
    <div class="col-sm-8" style="padding-left:100px;"></div>
  <div  data-toggle="collapse" href="#collapseOne" class="col-sm-2 btn btn-info">Hạng phổ thông</div>
  <div data-toggle="collapse" href="#collapseTwo" class="col-sm-2 btn btn-success">Hạng thương gia</div>
</div>
{% if flight %}
    {% for f in flight %}

      <div class="class-select">
          <div class="row">
          <div class="col-sm-8">
            <div class="wrap-summary">
          <table style="width:100%;">
            <tr>
              <td >
                <time class="timeline">{{ f.departure_day.strftime("%H:%M") }}</time>
              </td>
              <td>to</td>
              <td >
                <time class="timeline">{{ f.arrival_day.strftime("%H:%M") }}</time>
              </td>
              <td rowspan="2">
                <div style="display:block;">{{ f.flight_id }}</div>
                <div style="font-weight: 800; display:block;">{{ f.name }}</div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="airport">{{ f.departure_airport }}</div>
              </td>
              <td></td>
              <td>
                <div class="airport">{{ f.arrival_airport }}</div>
              </td>
            </tr>
            <tr >
              <td colspan="1">
                <span>
                  {{ "{:.0f}".format(f.flight_time / 60) + ' tiếng ' + "{:.0f}".format(f.flight_time % 60) + ' phút' }}
                </span>
              </td>
              <td style="font-weight: 600;">
                <div>Bay thẳng</div>
              </td>
            </tr>
            <tr>
              <td colspan="4">
              </td>
            </tr>
          </table>
            </div>
          </div>
        <div class="col-sm-2">
          <button class="button-select" onclick="window.location.href='{{ url_for('passenger', flight_id=f.flight_id, ticket_type=2) }}';">
            <div>
                {% for t in ticket_prices %}
                      {% if t.flight_id == f.flight_id and t.ticket_type == 2 %}
                        {{ "{:.0f}".format(t.price) }}
                      {% endif %}
                {% endfor %}
            </div>
          </button>
        </div>
            <div class="col-sm-2">
          <button class="button-select" onclick="window.location.href='{{ url_for('passenger', flight_id=f.flight_id, ticket_type=1) }}';">
            <div>
              {% for t in ticket_prices %}
                      {% if t.flight_id == f.flight_id and t.ticket_type == 1 %}
                        {{ "{:.0f}".format(t.price) }}
                      {% endif %}
                {% endfor %}
            </div>
          </button>
            </div>
          </div>
      </div>
<button class="collapsible">Xem chi tiết chuyến bay</button>
<div class="content">
    <table>
                        <tr>
                          <td rowspan="5">
                            <div style="height:100%; border:1px solid black; width:2px;" > </div>
                          </td>
                        </tr>
                        <tr>
                          <td style="font-weight: 800; font-size:16px; text-align:left;">
                            <time id="departure_day">{{ f.departure_day }}</time>
                          </td>
                          <td style="font-weight: 800; font-size:16px; text-align:left;">
                            <span>
                              {% for a in airports%}
                                {% if a.airport_id == f.departure_airport %}
                                  {{ a.location }}
                                {% endif %}
                              {% endfor %}
                            </span>
                          </td>
                        </tr>
                        <tr>
                          <td style="text-align:left;">Máy bay:</td>
                          <td>
                            <div id="flight-type" style="font-weight: 600; display:block; text-align:left;">{{ f.name }}</div>
                          </td>
                        </tr>
                        <tr>
                          <td style="text-align:left;">Thời gian di chuyển:</td>
                          <td>
                            <div id="flight-time" style="font-weight: 600; display:block; text-align:left;">
                              {{ "{:.0f}".format(f.flight_time / 60) + ' tiếng ' + "{:.0f}".format(f.flight_time % 60) + ' phút' }}
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td style="font-weight: 800; font-size:16px; text-align:left;">
                            <time id="arrival_day">{{ f.arrival_day }}</time>
                          </td>
                          <td style="font-weight: 800; font-size:16px; text-align:left;">
                            <span>
                                {% for a in airports%}
                                {% if a.airport_id == f.arrival_airport %}
                                  {{ a.location }}
                                {% endif %}
                              {% endfor %}
                            </span>
                          </td>
                        </tr>
                      </table>
</div>
{% endfor %}
<script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.maxHeight){
      content.style.maxHeight = null;
    } else {
      content.style.maxHeight = content.scrollHeight + "px";
    }
  });
}
</script>
{% else%}
    <h1 class="text-danger text-center">Chuyến bay không tồn tại</h1>
{% endif %}
{% endblock %}