{% extends 'layout/base.html' %}

{% block title %}Đặt Vé{% endblock %}

{% block content %}
<link rel='stylesheet' href="css/style.css" type='text/css' media='all' />
<!--	<link rel='stylesheet' href="{{ url_for('static', filename='css/shortcodes.css')}}" type='text/css' media='all' />-->
<!--	<link rel='stylesheet' href="{{ url_for('static', filename='css/skin.css')}}" type='text/css' media='all' />-->
	<style id='themerex-custom-style-inline-css' type='text/css'></style>
	<link rel='stylesheet' href="{{ url_for('static', filename='css/responsive.css')}}" type='text/css' media='all' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="url_for('https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')"></script>
    <script src="url_for('https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js')"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <script src="url_for('https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js') "></script>
    <script src="url_for('https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js')"></script>
    <script src="url_for('https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js')"></script>
<div id="accordion">
    <table class="wrap-menu">
        <tr>
            <td  class="td-wrap-menu">
                <button data-toggle="collapse" data-target="#demo" class="button-menu">Mua vé</button>
            </td>
            <td  class="td-wrap-menu">
                <button data-toggle="collapse" data-target="#demo1" class="button-menu">Tình trạng chuyến bay</button>
            </td>
            <tr >
                <td colspan="3">
                    <hr style="height:5px; background-color:#F6EFC8;"
                </td>
            </tr>
        </tr>
        <tr>
            <td colspan="2">
                <div id="demo" class="collapse" data-parent="#accordion">
                    <div id="accordion12">
                        <table style="width:100%;">
                            <tr>
                                <td>
                                    <button data-toggle="collapse" data-target="#demoa" class="button-menu" style="font-size:18px;">Một chiều</button>
                                </td>
                                <td>
                                    <button data-toggle="collapse" data-target="#demob" class="button-menu" style="font-size:18px;">Khứ hồi</button>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    <hr style="height:10px; background-color:white;">
                                </td>
                            </tr>
                        </table>
                        <table style="width:95%; margin:10px; margin:center;">
                            <tr>
                                <td>
                                    <div id="demoa" class="collapse" data-parent="#accordion12">
                                        <table style="width:100%;">
                                            <tr>
                                                <td style="font-size:15px; color:white;">Từ</td>
                                                <td style="font-size:15px; color:white;">Đến</td>
                                                <td style="font-size:15px; color:white;">Ngày đi</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <input type="text"  placeholder="Sân bay đi" id="flight-from" class="data-search">
                                                </td>
                                                <td>
                                                    <input type="text"  placeholder="Sân bay đến" id="flight-from" class="data-search">
                                                </td>
                                                <td>
                                                    <input type="datetime-local" id="departure_day" name="departure_day" placeholder="Ngày giờ" required class="data-search">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="3">
                                                    <input type="submit" value="Tìm kiếm" class="search-button" style="font-size:15px;">
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div id="demob" class="collapse" data-parent="#accordion12">
                                        <table style="width:100%;">
                                            <tr>
                                                <td style="font-size:15px; color:white;">Từ</td>
                                                <td style="font-size:15px; color:white;">Đến</td>
                                                <td style="font-size:15px; color:white;">Ngày đi</td>
                                                <td style="font-size:15px; color:white;">Ngày về</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <input type="text"  placeholder="Sân bay đi" id="flight-from" class="data-search">
                                                </td>
                                                <td>
                                                    <input type="text"  placeholder="Sân bay đến" id="flight-from" class="data-search">
                                                </td>
                                                <td>
                                                    <input type="datetime-local" id="departure_day" name="departure_day" placeholder="Ngày đi" required class="data-search">
                                                </td>
                                                <td>
                                                    <input type="datetime-local" id="departure_day" name="departure_day" placeholder="Ngày đi" required class="data-search">

                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="4">
                                                    <input type="submit" value="Tìm kiếm" class="search-button" style="font-size:15px;">
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div id="demo1" class="collapse" data-parent="#accordion">
                    <div id="accordion1">
                        <table style="width:100%;">
                            <tr>
                                <td>
                                    <button data-toggle="collapse" data-target="#demoa" class="button-menu" style="font-size:18px;">Sân bay</button>
                                </td>
                                <td>
                                    <button data-toggle="collapse" data-target="#demob" class="button-menu" style="font-size:18px;">Số hiệu chuyến bay</button>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    <hr style="height:10px; background-color:white;">
                                </td>
                            </tr>
                        </table>
                        <table style="width:95%; margin:10px; margin:center;">
                            <tr>
                                <td>
                                    <div id="demoa" class="collapse" data-parent="#accordion1">
                                        <table style="width:100%;">
                                            <tr>
                                                <td>
                                                    <input type="text"  placeholder="Sân bay đi" id="flight-from" class="data-search">
                                                </td>
                                                <td>
                                                    <input type="text"  placeholder="Sân bay đến" id="flight-from" class="data-search">
                                                </td>
                                                <td>
                                                    <input type="datetime-local" id="departure_day" name="departure_day" placeholder="Ngày giờ" required class="data-search">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="3">
                                                    <input type="submit" value="Tìm kiếm" class="search-button" style="font-size:15px;">
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div id="demob" class="collapse" data-parent="#accordion1">
                                        <table style="width:100%;">
                                            <tr>
                                                <td>
                                                    <input type="text"  placeholder="Số hiệu chuyến bay" id="flight-from" class="data-search" style=" margin:5px;">
                                                </td>
                                                <td>
                                                    <input type="datetime-local" id="departure_day" name="departure_day" placeholder="Ngày giờ" required class="data-search" style="margin:5px;">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="3">
                                                    <input type="submit" value="Tìm kiếm" class="search-button" style="font-size:15px;">
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>
<div class="wrap-pic">
    <img src="url_for('https://res.cloudinary.com/du3xpvajy/image/upload/v1641517603/cnpm/download_kdl1kt.jpg') " class="pic-in-wrap" id="img-news">
</div>



    <main role="main">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <div class="page_content_wrap">
            <div class="content">
                <article class="post_item post_item_single page">
                    <div class="post_content">
                        <section class="section_padding_50">
                            <div class="container">
                                <div class="sc_section">
                                    <div class="sc_content sc_align_center">
                                        <h2 class="sc_title sc_title_style_1 sc_title_iconed">
                                        <span class="sc_title_icon sc_title_icon_top  sc_title_icon_small">
                                            <img src="url_for('images/top_title_bg.png')" alt="" />
                                        </span>favorite places</h2>
                                        <h5 class="sc_undertitle sc_undertitle_style_1"></h5>
                                        <br>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <div style="width:90%; margin:auto;">
                            <div class="row">
                                <div class="col-md-4">
                                  <div class="thumbnail">
                                    <a href="http://noibaiairport.vn/" target="_blank">
                                      <img src="url_for('https://res.cloudinary.com/du3xpvajy/image/upload/v1641523182/cnpm/280px-NoiBaioutside_o0fgcn.jpg' ) " alt="Lights" style="width:100%; height:250px;">
                                      <div class="caption">
                                        <p class="tag-name-place">Sân bay quốc tế Nội Bài (Hà Nội)</p>
                                      </div>
                                    </a>
                                  </div>
                                </div>
                                <div class="col-md-4">
                                  <div class="thumbnail">
                                    <a href="https://vietnamairport.vn/tansonnhatairport/" target="_blank">
                                      <img src="url_for('https://res.cloudinary.com/du3xpvajy/image/upload/v1641523367/cnpm/280px-Tan_Son_Nhat_International_Airport_qqhhpr.jpg')" alt="Nature" style="width:100%; height:250px;">
                                      <div class="caption">
                                        <p class="tag-name-place">Sân bay quốc tế Tân Sơn Nhất (Hồ Chí Minh)</p>
                                      </div>
                                    </a>
                                  </div>
                                </div>
                                <div class="col-md-4">
                                  <div class="thumbnail">
                                    <a href="https://www.vietnamairport.vn/danangairport/" target="_blank">
                                      <img src="url_for('https://res.cloudinary.com/du3xpvajy/image/upload/v1641523432/cnpm/280px-S%C3%A2n_bay_Qu%E1%BB%91c_t%E1%BA%BF_%C4%90%C3%A0_N%E1%BA%B5ng_fnppbm.jpg')" alt="Fjords" style="width:100%; height:250px;">
                                      <div class="caption">
                                        <p class="tag-name-place">Sân bay quốc tế Đà Nẵng (Đà Nẵng)</p>
                                      </div>
                                    </a>
                                  </div>
                                </div>
                              </div>
                            <div class="row">
                                <div class="col-md-4">
                                  <div class="thumbnail">
                                    <a href="https://vietnamairport.vn/camranhairport/" target="_blank">
                                      <img src="url_for('https://res.cloudinary.com/du3xpvajy/image/upload/v1641523493/cnpm/280px-Nha_ga_T2_irnizv.jpg')" alt="Lights" style="width:100%; height:250px;">
                                      <div class="caption">
                                        <p class="tag-name-place">Sân bay quốc tế Cam Ranh (Khánh Hòa)</p>
                                      </div>
                                    </a>
                                  </div>
                                </div>
                                <div class="col-md-4">
                                  <div class="thumbnail">
                                    <a href="https://vietnamairport.vn/phuquocairport/" target="_blank">
                                      <img src="url_for('https://res.cloudinary.com/du3xpvajy/image/upload/v1641523556/cnpm/download_eoqmra.jpg')" alt="Nature" style="width:100%; height:250px;">
                                      <div class="caption">
                                        <p class="tag-name-place">Sân bay quốc tế Phú Quốc (Phú Quốc)</p>
                                      </div>
                                    </a>
                                  </div>
                                </div>
                                <div class="col-md-4">
                                  <div class="thumbnail">
                                    <a href="https://vietnamairport.vn/vinhairport/" target="_blank">
                                      <img src="url_for('https://res.cloudinary.com/du3xpvajy/image/upload/v1641523627/cnpm/download_nz0vam.jpg')" alt="Fjords" style="width:100%; height:250px;">
                                      <div class="caption">
                                        <p class="tag-name-place">Sân bay quốc tế Vinh (Nghệ An)</p>
                                      </div>
                                    </a>
                                  </div>
                                </div>
                              </div>
                            </div>
                            </div>
                        </div>
        <!-- End block content -->
        <section class="jumbotron text-center">
            <div class="container">
                <h1 class="jumbotron-heading">beautiful places in Vietnam</h1>
            </div>
        </section>
        <div class="wrap-left">
            <div class="left-bottom">

                <img src="url_for('https://res.cloudinary.com/du3xpvajy/image/upload/v1641526739/cnpm/Phuquoc_bai_bien_phuquoc_1300x450_gkimbc.jpg')" class="set-pic">
                <a href="https://vi.wikipedia.org/wiki/Ph%C3%BA_Qu%E1%BB%91c" class="text">Phú Quốc - Hòn ngọc quý</a>
            </div>
            <div class="left-bottom">
                <img class="set-pic" src="url_for('https://res.cloudinary.com/du3xpvajy/image/upload/v1641527139/cnpm/HEROBANNER_NinhBinh-1300x450_g6dw20.webp">
                <a href="https://vi.wikipedia.org/wiki/Ninh_B%C3%ACnh" class="text">Ninh Bình - Cố đô sơn thủy hữu tình</a>
            </div>
            <div class="left-bottom">
                <img class="set-pic" src="url_for('https://res.cloudinary.com/du3xpvajy/image/upload/v1641527216/cnpm/Dalat_herobanner_cao_nguyen_lam_vien_1300x450_f8zmhw.jpg')">
                <a href="url_for('https://vi.wikipedia.org/wiki/%C4%90%C3%A0_L%E1%BA%A1t')" class="text">Đà Lạt - Một Paris thu nhỏ</a>
            </div>
        </div>
            <div style="height:200px;"></div>
    </main>

    <!-- footer -->
    <footer class="footer mt-auto py-3">
        <div class="container">
            <p class="float-right">
                <a href="#">Về đầu trang</a>
            </p>
        </div>
    </footer>
<script>
    var i=1;
    changeimg=function(){
        var img=["https://res.cloudinary.com/du3xpvajy/image/upload/v1641519831/cnpm/Halong_ensemble__colour_corrected_ewsvep.jpg",
                "https://res.cloudinary.com/du3xpvajy/image/upload/v1641520899/cnpm/hoi-an-quang-nam-vntrip-1_bb6jir.jpg",
                "https://res.cloudinary.com/du3xpvajy/image/upload/v1641520961/cnpm/qb_1-1603825054413_x1wikr.jpg",
                "https://res.cloudinary.com/du3xpvajy/image/upload/v1641521044/cnpm/gioi-thieu-ve-ho-guom-15_kid67a.jpg",
                "https://res.cloudinary.com/du3xpvajy/image/upload/v1641521077/cnpm/111111_xvqfrc.jpg",
                "https://res.cloudinary.com/du3xpvajy/image/upload/v1641521127/cnpm/thanh_pho_bien_vung_tau_293dcb18853648c39e99a09dc7b52f27_na5imk.jpg"]
                document.getElementById("img-news").src=img[i];
        i++;
        if(i==6)
        {
            i=0;
        }
    }
    setInterval(changeimg,1000);
</script>
{% endblock %}