{% extends 'layout/base-login.html' %}

{% block title %}Đặt Vé{% endblock %}
<link rel='stylesheet' href="{{ url_for('static', filename='css/style-payment.css')}}"/>
{% block content %}
<hr>
    <div style="width:100%;">
        <table style="width:100%;">
            <tr>
                <td style="width:25%;">
                    <div style="background-color:#FC9918; color:white; text-align:center; border:1px solid black;">
                        Mã đặt chỗ
                    </div>
                    <div style=" color:black; text-align:center; border:1px solid black; height:50px;">
                        KNSKDFG
                    </div>
                </td>
                <td style="padding:10px;">
                  <p>Chuyến đi từ</p>
                    <div>
                        <span>Tp.Hồ Chí Minh</span> đến <span> Hà Nội</span>
                    </div>
                    <p>Ngày bay</p>
                    <div>
                        <span>th 4 15 thg 3</span> đến <span> th 4 15 thg 3</span>
                    </div>
                </td>
            </tr>
        </table>
    </div>
<hr>
<div style="background-color:#CDF0EA; padding:10px;">
    Chuyến bay <span>VN302</span>: <span>TP.Hồ Chí Minh (SGN)</span> > <span>Hà Nội (HAN)</span>
    <div class="row" style="padding:10px; background-color:white; width:95%; margin:auto;">
        <table style="width:100%;">
            <tr>
                <td style="width:50%;">
                    <p>Khởi hành: <span>th 4 15 thg 3</span></p>
                    <p>Đến nơi:
                    <span> th 4 15 thg 3</span></p>
                    <p>Thời gian bay:<span>0giờ 30 phút</span></p>
                    <p>Hạng: <span>phổ thông</span></p>
                    <p>Máy bay:<span> Airbus 321-100/200</span></p>
                    <p>Hãng khai thác: <span>VietNam Airline</span></p>
                </td>
                <td>
                    <span>Bui Nguyen Dang Khoa</span>
                </td>
                <td>
                    <p>Chỗ ngồi: <span>19G</span></p>
                </td>
            </tr>
        </table>
    </div>
</div>
{% endblock %}