{% extends 'layout/base-login.html' %}

{% block title %}Đăng Nhập{% endblock %}

{% block content %}

{% if err_msg %}
    <div class="alert alert-danger">
        <h4>{{ err_msg }}</h4>
    </div>
{% endif %}

    <link href="{{ url_for('static', filename='css/user-login.css') }}" rel="stylesheet"/>
    <script src="{{ url_for('static', filename='javascript/user-login.js')}}"></script>

<div class="wrap-on-footer">
    <div class="animated bounceInDown">
  <div class="container1">
    <span class="error animated tada" id="msg"></span>
    <form name="form1" class="box" onsubmit="return checkStuff()" method="post">
      <h2>Air<span> Flight</span></h2>
        <br>
      <h5>Sign in to your account.</h5>
        <input type="text" class="form-control" id="username" name="username" required>
        <i class="typcn typcn-eye" id="eye"></i>
         <input type="password" class="form-control" id="password" name="password" required>
        <a href="#" class="forgetpass">Forget Password?</a>
        <input type="submit" value="Đăng nhập" class="btn1">
      </form>
        <a href="{{ url_for('user_register') }}" class="dnthave">Don't have an account? Sign up</a>
  </div>
</div>
</div>
{% endblock %}