<link href="{{ url_for('static', filename='css/user-login.css') }}" rel="stylesheet"/>
    <script src="{{ url_for('static', filename='javascript/user-login.js')}}"></script>

<div class="wrap-on-footer">
    <div class="animated bounceInDown">
        <div class="container3">
          <h2 style="color:white; margin-top:10px;">Air Flight</h2>
            <form method="post" action="{{ url_for('admin_login') }}">
                <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" class="form-control" name="username" placeholder="Nhap username" id="username">
              </div>
              <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" class="form-control" name="password" placeholder="Nhap password" id="password">
              </div>
              <button type="submit" class="btn btn-primary">Đăng Nhập</button>
            </form>
        </div>
    </div>
</div>